body {
   background-color: black;
 }
  
h1, h2, h3, h4, h5 {
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

p{
   font-size: 1.25em;
   color: white;
}

a{
   color: white;
} 

ul{
   font-size: 1.25em;
   color: white;
}
